.verticalAlign{
    transform: translateY(-50%);
}
.modelFooter{
    background-color: transparent !important;
}
.overLay{
    z-index: 99999 !important;
}
.contentZindex{
    z-index: 999999 !important;
}
.mbSelect{
    margin-bottom: 15px;
}
.selectFormLabel{
    text-transform: capitalize;
}