.accordionItem{
    border: none !important;
}
.sectionTitle{

}
.sectionButton{
    color: #3e4b5b;
    padding: 0.75rem;
    position: relative;
    font-size: 0.8230rem !important;
    line-height: 1;
    height: auto;
    border-top: 0;
}
.newLi{
    margin: 0px;
    padding: 0px;
    line-height: normal;
}
.newLia a.nav-link{
    padding: 0.75rem;
}

